# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*.pyo

# ==================================================
# Virtual Environment
# ==================================================

.venv/
venv/
env/

# ==================================================
# VS Code
# ==================================================

.vscode/

# ==================================================
# Build
# ==================================================

build/
dist/

# ==================================================
# Generated Data
# ==================================================

downloads/
projects/
output/
temp/

# ==================================================
# Logs
# ==================================================

logs/
*.log

# ==================================================
# Operating System
# ==================================================

Thumbs.db
.DS_Store